.main-container-2 {
  background-image: url("https://th.bing.com/th/id/R.0ebffc268c21f44e728070122b13fa6b?rik=HULMRWp1WooKkg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2f2%2fb%2f678513.jpg&ehk=AsC0HkOGAp1kHoLnU8rVZaduufQwiDeaezEvszGmw9g%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  margin-top: 0;
  color: white;
}
